:root {
  --highlight-color: #dd7a1f;
}

.hero {
  font-family: "Poppins", sans-serif;
}

.main {
  margin-top: 300px;
}

.highlight {
  color: var(--highlight-color);
}

.top-hr {
  border: var(--highlight-color) 2px solid;
  opacity: 1;
  margin-left: 40px;
  width: 70%;
}

.bottom-hr {
  border: var(--highlight-color) 2px solid;
  opacity: 1;
  width: 70%;
  margin-left: 40px;

  margin-bottom: 28px;
}

h1 {
  padding-right: 0px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 40px;
  font-size: 34px;
  font-weight: 300;
}

.highlight {
  font-weight: 400;
}

.btn-start {
  color: black;
  border: 4px var(--highlight-color) solid;
  border-radius: 20px;
  padding: 7px 27px;
  margin-left: 40px;
  text-decoration: none;
}
