:root {
  --highlight-color: #dd7a1f;
}

.body {
  font-family: "Poppins", sans-serif;
}

.main {
margin-top: 300px;
  position: relative;
}

.highlight {
  color: var(--highlight-color);
  font-weight: 400;
}



h1 {
  padding: 10px;
  margin-bottom: 25px;
  margin-left: 40px;
  font-size: 34px;
  font-weight: 300;
  border-bottom: var(--highlight-color) 4px solid;
  border-top: var(--highlight-color) 4px solid;
  width: 80%;
  
}

.email {
font-size: 15px;
color: var(--highlight-color);
text-decoration: none;
}


.btn-start {
  color: black;
  border: 4px var(--highlight-color) solid;
  border-radius: 20px;
  padding: 7px 27px;
  margin-left: 40px;
  text-decoration: none;
}

.categories {
    margin-top: 100px;
}

.works-cat {
    font-size: 28px;
  font-weight: 300;
  border-bottom: var(--highlight-color) 4px solid;
  border-top: var(--highlight-color) 4px solid;
  color: black;
  text-decoration: none;
  padding: 10px;
  margin-left: 40px;
}




.nav-right {
    right: 20px;
}

.nav-transform-right {
    z-index: 1000001;
    position: absolute;
    transform: rotateZ(-90deg) translateX(50%);
    transform-origin: 100% 50%;
    top: 50%;
}

@media (max-width: 900px) {
    h1 {
        font-size: 25px
    }
    
   

    .works-cat {
        font-size: 20px;
    }

    .btn-start {
        font-size: 15px;
    }
}





