:root {
  --highlight-color: #dd7a1f;
}

.hero {
  font-family: "Poppins", sans-serif;
}

.main {
  margin-top: 300px;
}

.highlight {
  color: var(--highlight-color);
}


h1 {
  padding: 10px;
  margin-top: 18px;
  margin: 100px;
  margin-bottom: 25px;
  margin-left: 40px;
  
  font-size: 34px;
  font-weight: 300;
  border-bottom: var(--highlight-color) 4px solid;
  border-top: var(--highlight-color) 4px solid;
  
}

.highlight {
  font-weight: 400;
}

.btn-start {
  color: black;
  border: 4px var(--highlight-color) solid;
  border-radius: 20px;
  padding: 7px 27px;
  margin-left: 40px;
  text-decoration: none;
}

.categories {
    margin-top: 100px;
}

.works-cat {
    font-size: 28px;
  font-weight: 300;
  border-bottom: var(--highlight-color) 4px solid;
  border-top: var(--highlight-color) 4px solid;
  color: black;
  text-decoration: none;
  padding: 10px;
  
}